<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EmailList</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    
    <div id="root">

        <div class="email">

            <h1>E-MAIL</h1>

            <ul v-if="emailArray.length == 10">

                <li v-for="email in emailArray">
                    {{ email }}
                </li>

            </ul>

            <div class="load" v-else="">loading...</div>

        </div>

    </div>
    
    
    <!-- DAY.JS -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>